
<div class="card notation-content">
  <div class="card-header">
    <p class="card-header-title">
      Moves
    </p>
  </div>
  <div class="card-content">
    <div class="content">

      <ng-template #showMove let-move let-depth="depth">
        <span>
          <strong *ngIf="(depth+1) % 2 == 0">{{(depth+1)/2}}.</strong>
          <a class="move-notation"
            (click)="editMode ? setActiveMoveFromObject(move['value']) : undefined"
            [class.move-selected]="activeMove ? (move.value['previousFEN'] == activeMove.previousFEN && move.key == activeMove.uciNotation) : false">
            {{move.key}}
          </a>
          <span *ngIf="move.value['analysis']">
            ({{100*move.value['analysis']['nbSuccess']/move.value['analysis']['nbVisits']  | number : '1.0-0'}}%)
          </span>
          <span *ngIf="(activeMove ? (move.value['previousFEN'] == activeMove.previousFEN && move.key == activeMove.uciNotation) : false) ? showNextMoves : true">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: variant.nodes[move.value['nextFEN']], 'depth': depth+1 }"></ng-container>
          </span>
        </span>
      </ng-template>

      <ng-template #recursiveList let-list let-depth="depth">
        <span *ngIf="(list | keys).length <= 1">
          <span *ngFor="let item of (list | keys)">
            <ng-container *ngIf="(analysisMode && ((depth+1) % 2 == 0) == this.variant.color) ? (item.value['analysis'] && item.value['analysis']['nbVisits'] != 0) : true">
              <ng-container *ngTemplateOutlet="showMove; context:{ $implicit: item, 'depth': depth }"></ng-container>
            </ng-container>
          </span>
        </span>
        <ul [class.moves-list]="depth == 1" *ngIf="(list | keys).length > 1">
          <ng-container *ngFor="let item of (list | keys)">
            <li *ngIf="(analysisMode && ((depth+1) % 2 == 0) == this.variant.color) ? (item.value['analysis'] && item.value['analysis']['nbVisits'] != 0) : true">
              <ng-container *ngTemplateOutlet="showMove; context:{ $implicit: item, 'depth': depth }"></ng-container>
            </li>
          </ng-container>
        </ul>
      </ng-template>

      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: variant.nodes[startFEN], 'depth': 1 }"></ng-container>


    </div>
  </div>
  <div class="card-footer" *ngIf="editMode">
    <a (click)=setPreviousMove() class="button is-info card-footer-item"><i class="fa fa-chevron-left"></i></a>
    <a (click)=setNextMove() class="button is-info card-footer-item"><i class="fa fa-chevron-right"></i></a>
  </div>
</div>

<div class="control-buttons columns" *ngIf="editMode">
  <div class="column is-half">
    <button class="button is-fullwidth"
      (click)="deleteMove()">
      Delete moves
    </button>
  </div>
  <div class="column is-half">
    <button class="button is-fullwidth" disabled>
      Set tabia
    </button>
  </div>
</div>
