<section class="section" *ngIf="auth.user">
    <div class="columns">

        <div class="column is-one-third">
            <div *ngIf="repertoire" class="title-container">
              <h2 class="title"><input [(ngModel)]="repertoire.name" class="editable-title title" placeholder="name"></h2>
              <h3 class="subtitle">For {{ repertoire.color ? 'White' : 'Black' }}</h3>
            </div>
            <nav class="panel">
                <p class="panel-heading">Repertoires</p>
                <div class="panel-block">
                    <p class="control has-icons-left">
                      <input [(ngModel)]="nameFilter" class="input is-small" type="text" placeholder="search">
                      <span class="icon is-small is-left">
                        <i class="fa fa-search"></i>
                      </span>
                    </p>
                  </div>
                  <p class="panel-tabs">
                    <a (click)="colorFilter = 'all'" [class.is-active]="colorFilter == 'all'">all</a>
                    <a (click)="colorFilter = 'white'" [class.is-active]="colorFilter == 'white'">white</a>
                    <a (click)="colorFilter = 'black'" [class.is-active]="colorFilter == 'black'">black</a>
                  </p>
                <a class="panel-block"
                    *ngFor="let oneRepertoire of repertoires"
                    [class.is-active]="oneRepertoire === repertoire"
                    (click)="selectRepertoire(oneRepertoire)">
                    <span class="panel-icon">
                        <i
                          class="fa"
                          [class.fa-square-o]="oneRepertoire.color"
                          [class.fa-square]="!oneRepertoire.color"></i>
                    </span>
                    {{oneRepertoire.name}}

                </a>
                <div class="panel-block">
                    <button class="button-create-repertoire button is-link is-outlined is-fullwidth"
                        (click)="addRepertoire()">

                      <span>New</span>
                      <span class="icon is-small">
                        <i class="fa fa-plus-circle"></i>
                      </span>
                    </button>
                </div>
            </nav>

            <div class="columns">
              <div class="column is-half">

                <button id="save-repertoire-button" class="button is-info is-fullwidth"
                  [ngClass]="{'is-loading': isSaving}"
                  (click)="updateRepertoire(repertoire)">
                    <span>Save</span>
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </button>

              </div>
              <div class="column is-half">

                <button id="delete-repertoire-button" class="button is-danger is-fullwidth"
                  (click)="deleteRepertoire(repertoire)">
                    <span>Delete</span>
                    <span class="icon is-small">
                        <i class="fa fa-times"></i>
                    </span>
                </button>

              </div>
            </div>

        </div>

        <div class="column is-one-third">

          <table class="table is-bordered is-hoverable is-fullwidth"
            *ngIf="repertoire">
            <thead>
              <tr>
                <th>Variant</th>
                <th>Color</th>
                <th>Attached</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Variant</th>
                <th>Color</th>
                <th>Attached</th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let variant of variants"
                [class.is-active]="repertoire.hasVariant(variant)"
                (click)="repertoire.hasVariant(variant) ? repertoire.removeVariant(variant) : repertoire.addVariant(variant)">
                <td>{{ variant.name }}</td>
                <td class="has-text-centered"><i class="fa" [class.fa-square]="!variant.color" [class.fa-square-o]="variant.color"></i></td>
                <td class="has-text-centered"><i class="fa" [class.fa-check]="repertoire.hasVariant(variant)" [class.fa-times]="!repertoire.hasVariant(variant)"></i></td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="column is-one-third">

          <div class="card widget" *ngIf="repertoire">
            <div class="card-header">
              <p class="card-header-title">
                Settings
              </p>
            </div>
            <div class="card-content">
              <div class="content">

                <div class="field is-horizontal">
                  <div class="field-label">
                    <label class="label">Color</label>
                  </div>
                  <div class="field-body">
                    <div class="field is-narrow">
                      <div class="control">
                        <label class="radio">
                          <input type="radio" name="color-button" [(ngModel)]="repertoire.color" [value]=true [checked]="repertoire.color == repertoire.color">
                          White
                        </label>
                        <label class="radio">
                          <input type="radio" name="color-button" [(ngModel)]="repertoire.color" [value]=false>
                          Black
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

    </div>
</section>
