.editable-title {
    border: none;
    outline: none;
    background-color: transparent;
}

.editable-title:focus {
    border: none;
    outline: none;
}

.title-container {
    padding: 0 0 40px 20px;
}

.panel-block.is-active {
    background-color: hsl(0, 0%, 94%);
}

.widget {
  margin-bottom: 40px;
}

.control-buttons {}
