<!-- <header class="has-text-centered">
    <h1 class="title">{{ title }}</h1>
    <h2 class="subtitle">{{ subtitle }}</h2>
</header>
<button (click)="auth.login()">Log in !</button>
<button (click)="auth.logout()">Log out !</button>
<nav class="navbar is-fixed-bottom">
    <div class="navbar-menu">
    	<div class="navbar-start has-text-centered">
    		<a routerLink="/training" class="navbar-item">Training</a>
    		<a routerLink="/editor" *ngIf="auth.isAuthenticated()" class="navbar-item">Editor</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages> -->


<div class="navbar is-link">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="assets/images/logo.png" alt="Logo">&ensp;&ensp;
            <span class="tag is-info">alpha</span>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>

    <div class="navbar-end">
        <a routerLink="/home" class="navbar-item" [routerLinkActive]="['is-active']">Home</a>
        <a routerLink="/training" class="navbar-item" [routerLinkActive]="['is-active']" *ngIf="auth.user">Training</a>
        <a routerLink="/variants" class="navbar-item" [routerLinkActive]="['is-active']" *ngIf="auth.user">Variants</a>
        <a routerLink="/repertoires" class="navbar-item" [routerLinkActive]="['is-active']" *ngIf="auth.user">Repertoires</a>
        <span class="navbar-item">
            <a (click)="auth.login()" *ngIf="!auth.user" class="button is-link is-inverted">
                <span class="icon">
                    <i class="fa fa-sign-in"></i>
                </span>
                <span>Sign in</span>
            </a>
            <a (click)="auth.logout()" *ngIf="auth.user" class="button is-link is-inverted">
                <span class="icon">
                    <i class="fa fa-sign-out"></i>
                </span>
                <span>Sign out</span>
            </a>
        </span>
    </div>
</div>

<router-outlet></router-outlet>

<!-- <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Reperto</strong> by <a href="#">Loïc MARIE</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </div>
</footer> -->
