/* You can add global styles to this file, and also import other style files */

i {
  font-family: FontAwesome !important;
}

html, body {
  height: 100%;
}

body {
}

section {
  max-width: 1400px;
  margin: 0 auto;
}
